.container {
   display: flex;
   flex-direction: column;
   gap: 10px;
   /* margin: 20px; */
}

.button {
   display: flex;
   gap: 10px;
}
.input {
   color: var(--light-red);
   background-color: var(--grey);
}
.link {
   color: var(--light-red);
   background-color: var(--grey);
   text-decoration: none;
}

.dropdown {
   background-color: var(--grey);
   color: var(--medium-red);
}
.CategoryBox {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 500px;
   background-color: var(--color-background);
   border: 2px solid #ff0000;
   padding: 15px;
   border-radius: 10px;
   box-shadow: 24px;
}
