.container {
   display: flex;
   flex-direction: column;
   gap: 10px;
   /* margin: 20px; */
}

.button {
   display: flex;
   gap: 10px;
}
.input {
   color: var(--light-red);
   background-color: var(--grey);
}
.link {
   color: var(--light-red);
   background-color: var(--grey);
   text-decoration: none;
}

.dropdown {
   background-color: var(--grey);
   color: var(--medium-red);
}
