.container {
   margin-top: 15px;
   border-radius: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 206px;
   height: 60px;
   color: white;
   background-color: var(--color-primary-medium);
   font-family: Roboto;
   font-size: 40px;
   font-weight: 400;
}
