.CategoryBox {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 500px;
   background-color: var(--color-background);
   border: 2px solid #ff0000;
   padding: 4px;
   border-radius: 10px;
   box-shadow: 24px;
}
