.container {
   background-color: var(--color-background);
   height: 94px;
   width: 100%;
   border-bottom: 2px solid var(--strong-red);

   display: flex;
   justify-content: space-around;
   align-items: center;
}

.logoHeader {
   transform: scale(0.7);
}

.button {
   width: 180.125px;
   height: 54px;

   text-align: center;
   font-family: Source Sans Pro;
   font-size: 21px;
   font-weight: 600;
   line-height: 24px;
}

.box {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 400px;
   background-color: var(--color-background);
   border: 2px solid #ff0000;
   padding: 4px;
   border-radius: 10px;
   box-shadow: 24px;
}
.button {
   width: 220px;
   height: 54px;

   text-align: center;
   font-family: Source Sans Pro;
   font-size: 16px;
   font-weight: 600;
   line-height: 24px;
}
.buttonArea {
   display: flex;
   gap: 10px;
}
.box {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 400px;
   background-color: var(--color-background);
   border: 2px solid #ff0000;
   padding: 15px;
   border-radius: 10px;
   /* box-shadow: 24px; */
}
