.container {
   background-color: var(--color-background);
   height: 94px;
   width: 100%;
   border-top: 2px solid var(--strong-red);

   display: flex;
   flex-direction: column;

   justify-content: center;
   align-items: center;
}

.logoFooter {
   transform: scale(0.4);
}

.developer {
   color: var(--medium-red);
   margin-bottom: 10px;
}
